body {
    background-color: darkslategray !important;
}

/*LOGIN*/
.div-logar {
    margin-top: 3em;
}
h1.titulo-login{
    text-align: center;
}
/*LOGIN*/


.container-fabricante, .container-login {
    min-width: 25em;
    padding: .5em;
    margin: 5em .5em;
    background: white;
    border: 2px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.text-center {
    text-align: center !important;
}

div.novo-produto {
    margin: 3em .5em;
    text-align: right;
}

.titulo {
    float: left;
    font-size: 1.8em;
}

input.input-produto {
    min-width: 7em;
}

input.input-preco {
    max-width: 10em;
    min-width: 4em;
}

.btn-novo_produto {
    color: white !important;
    opacity: 0.8;
    background-color: darkslategray;;
}
.btn-novo_produto:hover {
    opacity: 1;
}