<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-offset-2 col-xs-8 container-login">

            <h1 class="titulo-login">Login G4R2</h1>

            <div class="div-logar" ng-show="modo_logar">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text"
                           class="form-control"
                           placeholder="Login"
                           ng-model="user.login">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control"
                           placeholder="Senha"
                           ng-model="user.senha">
                </div>
                <br>
                <button class="btn btn-success btn-lg btn-block" ng-click="logar(user)">
                    LOGAR
                </button>
                <button class="btn btn-warning btn-lg btn-block" ng-click="toggle_menu()">
                    NÃO POSSUI CADASTRO?
                </button>

            </div>

            <div class="menu-cadastro" ng-hide="modo_logar">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-font"></i>
                    </span>
                    <input type="text"
                           class="form-control"
                           placeholder="Nome"
                           ng-model="novo_user.nome">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text"
                           class="form-control"
                           placeholder="Login"
                           ng-model="novo_user.login">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control"
                           placeholder="Senha"
                           ng-model="novo_user.senha">
                </div>
                <br>


                <button class="btn btn-success btn-lg btn-block" ng-click="criar_usuario()">
                    CADASTRAR
                </button>
                <button class="btn btn-warning btn-lg btn-block" ng-click="toggle_menu()">
                    VOLTAR
                </button>
            </div>
        </div>
    </div>
</div>