<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 container-fabricante">

            <div class="novo-produto">

                <span class="titulo"><b>{{user.nome}}</b></span>

                <button class="btn btn-success" ng-click="salvar()">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    SALVAR
                </button>
                <button class="btn btn-novo_produto" ng-click="novo_produto()" ng-disabled="req_products_error">
                    <i class="glyphicon glyphicon-plus"></i>
                    NOVO PRODUTO
                </button>
                <button class="btn btn-warning" ng-click="deslogar()">
                    <i class="glyphicon glyphicon-off"></i>
                    SAIR
                </button>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th class="text-center">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="produto in user.produtos track by $index">
                        <td>

                            <div class="form-group" ng-if="!req_products_error">
                                <select class="form-control" ng-model="produto.nome">
                                    <option ng-repeat="all_prod in produtos">{{all_prod.name}}</option>
                                </select>
                            </div>

                            <div ng-if="req_products_error">
                                {{produto.nome}}
                            </div>

                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="number"
                                       class="form-control input-preco"
                                       step="0.01"
                                       min="0"
                                       placeholder="0.00"
                                       ng-model="produto.custo">
                            </div>
                        </td>
                        <td align="center">
                            <button class="btn btn-danger" ng-click="remove_produto($index)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="popup_error" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Erro</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{popup.msg_error}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>